[submodule "openharness"]
	path = packages/openharness
	url = https://github.com/HKUDS/OpenHarness.git
[submodule "hyper-extract"]
	path = packages/hyper-extract
	url = https://github.com/yifanfeng97/Hyper-Extract.git
